body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
    max-width: 100vh;
    margin-inline: auto;
    padding: 2em;
    accent-color: var(--color-accent)

}

h1, h2, h3, h4, h5 {
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: 375%;
}

p, li{
  font-size: 18px;
}

html {
  --color-accent: grey;
  color-scheme: light dark;
}


form {
  margin-top: 1em;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}



button {
  grid-column: 1 / -1;
}

img {
  max-width: 100%;
}

.projects {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.resume-title {
  color: var(--color-accent);
}

.resume-grid{
  display: grid;
  grid-template-columns: auto 1fr;
}

.resume-subgrid {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

ul li { padding: 3px 0px; }